<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>

    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>

    <header>
        <a href="/pages/"><h1 class="text-logo">Weather forecast</h1></a>
    </header>


    <main>
        <div class="container">

            <div class="func-button-container">
                <a href="/pages/"><button class="first-func-button"> Come back</button></a>
                <a href="/pages/history/{{data.another_history_type}}"><button class="first-func-button choese-history-button" >Check {{data.another_history_type}} history</button></a>
                <button class="cleaner-button"> Clear history</button>
            </div>
            <h2 align="center">History</h2>
            <div class="history-container" >
                <ul class="history-ul">
                    {% if history %}
                        {% for item in history %}
                            <li class="weather-data-li">{{ item.request_datetime }}: {{ item.city }}, {{ item.temperature }}℃, {{ item.weather }} </li>
                        {% endfor %}
                    {% else %}
                        <li class="weather-data-li" style="list-style: none;">Do you first weather request! </li>
                        <li class="weather-data-li" style="list-style: none;" >Or press "Check all history" </li>
                    {% endif %}


                </ul>
            </div>

            <div id="weather-result" class="result">

            </div>

        </div>
    </main>


    <footer>
        <p class="foter-text">Тестовое задание</p>
    </footer>


    <script src="/static/js/scripts.js"></script>


</body>
</html>